button#alertSearch,
button#alertDel{
    height: 26px;
    width: 112px;
    padding-left: 13px;
    letter-spacing: 10px;
    background: url(/adminpage/login/btn_noicon.png) no-repeat;
    border-style: none;
    float: left;
    color: #6b8db1;
    margin: 10px 30px 0px 10px;
    left: 60px;
    position: absolute;
    top: 190px;
    z-index: 100;
	font-weight: bold;}
button#alertDel{
    left: 200px;}
.errorCount{
	position: absolute;
	right: 315px;
	top: 205px;}
#create{
	margin-top:15px;}
.modal-label{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 7px;}
#bodyText{
    margin-top: 5px;
    padding-right: 0px;}
#typeSelect{
	margin-top:8px;}
#content{
	margin-top:8px;
	height:70px;
	max-height: 70px;
    max-width: 312px;
    resize:none;}
#searchBody{
	height:200px;}
#search, #delete,#deleteHist{
	margin-top:100px;}
#histinfo{
	margin-top: 10px;}