 button#searchAccount,
 button#removeAccount {
    height: 26px;
    width: 112px;
    padding-left: 13px;
    letter-spacing: 10px;
    background: url(/adminpage/login/btn_noicon.png) no-repeat;
    border-style: none;
    float: left;
    color: #6b8db1;
    margin: 10px 30px 0px 10px;
    left: 60px;
    position: absolute;
    top: 190px;
    z-index: 100;
    font-weight: bold;}
button#removeAccount{
    left: 200px;}
#searchModal, #deleteModal,#deleteUser,#delete{
    margin-top:100px;}
#searchBody{
    height:230px;}
.modal-label{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 7px;}
#sent{
    margin-top:15px;}
#bodyText{
    margin-top:5px;
    padding-right: 0px;}
#id,#name,#phone,#typeSelect{
    margin-top:8px;}
#text{
    margin-top:8px;
    height:70px;
    max-height: 70px;
    max-width: 312px;}
#logbtn{
    width: 100%;
    height: 40px;
    margin-top: -40px;
    margin-left: 20px;}
