button#accountAdd {
    height: 26px;
    width: 112px;
    padding-left: 13px;
    letter-spacing: 10px;
    background: url(/adminpage/login/btn_noicon.png) no-repeat;
    border-style: none;
    float: left;
    margin-left: 19px;
    color: #6b8db1;
    padding: 0 0 3 20;
    margin-right: 100px;
    margin-bottom:10px;
    margin-top: 3px;
    font-weight: bold;}
table{
    width: inherit!important;
    margin-top: 30px;
}
th,td{width: 70px;}
#saveModal{
    margin-top:100px;
}
#theadid{
    background-color:#A2B4CB; 
    color:black;
    text-align: center;
} 