button#insertLevel,
button#removeLevel{
    height: 26px;
    width: 112px;
    padding-left: 13px;
    letter-spacing: 10px;
    background: url(/adminpage/login/btn_noicon.png) no-repeat;
    border-style: none;
    float: left;
    color: #6b8db1;
    margin: 10px 30px 0px 10px;
    position: absolute;
    top: 190px;
    left: 60px;
    z-index: 100;
    font-weight: bold;}
button#removeLevel{
    left: 200px;}
#insertModal,#editModal,#removeModal,#delete{
    margin-top:100px;
}
#insertModal .modal-body .scroller,
#editModal .modal-body .scroller{
    height:250px;
}
#removeModal .modal-body .scroller, #delete .modal-body .scroller{
    height:50px;
}
#levelNo{
    margin-top:15px;
}
#levelName{
    margin-top:8px;
}
#levelDesc{
    margin-top:8px;
    height:100px;
    resize:none;
}
.div-view{
    padding-top: 80px;
}