.list-container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #CCC;
}

.list-title {
  position: relative;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #dcdcdc;
  padding-left: 20px;
  cursor: pointer;
  color: #646464;
  background-color: #f4f4f4;
}

.list-title i {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #575a59;
  line-height: 16px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-right: 5px;
  float: left;
  margin-top: 17px;
}

.list-title label {
  cursor: pointer;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list-title:hover {
  background-color: #EEE;
}

.list-body {
  background-color: #fcfcfc;
}

.list-item {
  position: relative;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 30px;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item:hover {
  background-color: #f4f4f4;
  color: #2587db;
}
.list-item:hover i {
  background: #2587db;
}

.list-item.active {
  color: #2587db;
}
.list-item.active i {
  background: #2587db;
}

.list-item i {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #575a59;
  line-height: 16px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
  float: right;
  margin-top: 8px;
  padding-left: 3px;
}

.list-item label {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
